
go.sum
auth.sh



# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
__debug_*

# images
/static/img/uploads
/uploads

# env 
config.env

# buid
/build

# misc
makefile

