


{{define "admin_article_form"}}

{{$model := .Model }}
{{$form := .Form }}
{{$pageTypeConstMap := .ArticleTypeConstMap}}
{{$pageStatusConstMap := .ArticleStatusConstMap}}
{{$pageLayoutConstMap := .ArticleLayoutConstMap}}

<form action="{{.Form.URL}}" name="signinForm" 
    class="pb-5 requires-validation"  novalidate
    method="POST" 
    id="adminPageForm">

    <input type="hidden" name="_csrf" value="{{.CSRFToken}}">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="typeInput">Type</label>

                <select name="type" required
                        id="typeInput" 
                        type="text" 
                        class="form-control" 
                        aria-describedby="Тип">

                        {{range $key, $value := $pageTypeConstMap}}
                        <option value="{{$value}}"
                                {{if eq $value $model.Type}}selected="selected"{{end}}
                                >{{$key}}</option>
                        {{end}}
                    
                </select>
                {{range (index .Form.Errors "type")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>

        <div class="col-sm-3">
           
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="hrurlInput"> Hrurl</label>
                <input name="hrurl" required
                        id="hrurlInput"
                        type="text" 
                        class="form-control  {{if ne (len (index .Form.Errors "hrurl")) 0 }} is-invalid  {{end}}" 
                        value="{{$model.Hrurl}}"
                        aria-describedby="Hrurl"
                        >
    
                
                {{range (index .Form.Errors "hrurl")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
                        
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="titleInput">Title</label>
                <input name="title" required
                        id="titleInput" 
                        type="text" 
                        class="form-control  {{if ne (len (index .Form.Errors "title")) 0 }} is-invalid  {{end}}" 
                        value="{{$model.Title}}"
                        aria-describedby="Title"
                        >
                {{range (index .Form.Errors "title")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="descriptionInput">Description</label>
                <input name="description" 
                        id="descriptionInput" 
                        type="text" 
                        class="form-control  {{if ne (len (index .Form.Errors "description")) 0 }} is-invalid  {{end}}" 
                        value="{{$model.Description}}"
                        aria-describedby="Description"
                            >
                {{range (index .Form.Errors "description")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>
    
        
        <div class="col-sm-4">
            <div class="form-group">
                <label for="keywordsInput">Keywords</label>
                <input name="keywords" 
                        id="keywordsInput"
                        type="text" 
                        class="form-control  {{if ne (len (index .Form.Errors "keywords")) 0 }} is-invalid  {{end}}" 
                        value="{{$model.Keywords}}"
                        aria-describedby="Keywords"
                        >
                            
                {{range (index .Form.Errors "keywords")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="h1Input">H1</label>
                <input name="h1" 
                        id="h1Input"
                        type="text" 
                        class="form-control  {{if ne (len (index .Form.Errors "h1")) 0 }} is-invalid  {{end}}" 
                        value="{{$model.H1}}"
                        aria-describedby="H1"
                        >
                            
                <!-- {{range (index .Form.Errors "h1")}}
                <label class="text-danger"> {{.}}</label>
                {{end}} -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="PageDescriptionInput">PageDescription</label>
               
                <textarea name="page_description" 
                        id="PageDescriptionInput"
                        rows="1"
                        class="form-control  {{if ne (len (index .Form.Errors "page_description")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="PageDescription"
                        >{{$model.PageDescription}}</textarea>        
                            
                {{range (index .Form.Errors "page_description")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="textInput">Text</label>
                <textarea name="text" 
                        id="textInput"
                        rows="2"
                        class="form-control  {{if ne (len (index .Form.Errors "text")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="Text"
                        >{{$model.Text}}</textarea>
                            
                {{range (index .Form.Errors "text")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>
        

        <div class="col-sm-12">
            <div class="form-group">
                <label for="excerptInput">Excerpt</label>
                <textarea name="excerpt" 
                        id="excerptInput"
                        rows="1"
                        class="form-control  {{if ne (len (index .Form.Errors "excerpt")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="Excerpt"
                        >{{$model.Excerpt}}</textarea>
                            
                {{range (index .Form.Errors "excerpt")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>
        
    </div>

    <!-- new -->
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="imageInput">Image</label>
                <textarea name="image" 
                        id="imageInput"
                        rows="1"
                        class="form-control  {{if ne (len (index .Form.Errors "image")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="Image"
                        >{{$model.Image}}</textarea>
                            
                {{range (index .Form.Errors "image")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="imageAltInput">ImageAlt</label>
                <textarea name="image_alt" 
                        id="imageAltInput"
                        rows="1"
                        class="form-control  {{if ne (len (index .Form.Errors "image_alt")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="ImageAlt"
                        >{{$model.ImageAlt}}</textarea>
                            
                {{range (index .Form.Errors "image_alt")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>

        <div class="col-sm-5">
            <div class="form-group">
                <label for="imageTitleInput">ImageTitle</label>
                <textarea name="image_title" 
                        id="imageTitleInput"
                        rows="1"
                        class="form-control  {{if ne (len (index .Form.Errors "image_title")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="ImageTitle"
                        >{{$model.ImageTitle}}</textarea>
                            
                {{range (index .Form.Errors "image_title")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="imageInput">ThumbnailImage</label>
                <textarea name="thumbnail_image" 
                        id="imageInput"
                        rows="1"
                        class="form-control  {{if ne (len (index .Form.Errors "thumbnail_image")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="ThumbnailImage"
                        >{{$model.ThumbnailImage}}</textarea>
                            
                {{range (index .Form.Errors "thumbnail_image")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="thumbnailImageAltInput">ThumbnailImageAlt</label>
                <textarea name="thumbnail_image_alt" 
                        id="thumbnailImageAltInput"
                        rows="1"
                        class="form-control  {{if ne (len (index .Form.Errors "thumbnail_image_alt")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="ThumbnailImageAlt"
                        >{{$model.ThumbnailImageAlt}}</textarea>
                            
                {{range (index .Form.Errors "thumbnail_image_alt")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>

        <div class="col-sm-5">
            <div class="form-group">
                <label for="thumbnailImageTitleInput">ThumbnailImageTitle</label>
                <textarea name="thumbnail_image_title" 
                        id="thumbnailImageTitleInput"
                        rows="1"
                        class="form-control  {{if ne (len (index .Form.Errors "image_title")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="ThumbnailImageTitle"
                        >{{$model.ThumbnailImageTitle}}</textarea>
                            
                {{range (index .Form.Errors "thumbnail_image_title")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="call2actionNameInput">Call2actionName</label>
                <textarea name="call2action_name" 
                        id="call2actionNameInput"
                        rows="1"
                        class="form-control  {{if ne (len (index .Form.Errors "call2action_name")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="Call2actionName"
                        >{{$model.Call2actionName}}</textarea>
                            
                {{range (index .Form.Errors "call2action_name")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="call2actionLinkInput">Call2actionLink</label>
                <textarea name="call2action_link" 
                        id="call2actionLinkInput"
                        rows="1"
                        class="form-control  {{if ne (len (index .Form.Errors "call2action_link")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="Call2actionLink"
                        >{{$model.Call2actionLink}}</textarea>
                            
                {{range (index .Form.Errors "call2action_link")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="call2actionClassInput">Call2actionClass</label>
                <textarea name="call2action_class" 
                        id="call2actionClassInput"
                        rows="1"
                        class="form-control  {{if ne (len (index .Form.Errors "call2action_class")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="Call2actionClass"
                        >{{$model.Call2actionClass}}</textarea>
                            
                {{range (index .Form.Errors "call2action_class")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label for="call2actionCommentInput">Call2actionComment</label>
                <textarea name="call2action_comment" 
                        id="call2actionCommentInput"
                        rows="1"
                        class="form-control  {{if ne (len (index .Form.Errors "call2action_comment")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="Call2actionComment"
                        >{{$model.Call2actionComment}}</textarea>
                            
                {{range (index .Form.Errors "call2action_comment")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>

        <div class="col-sm-7">
            <div class="form-group">
                <label for="call2actionDescriptionInput">Call2actionDescription</label>
                <textarea name="call2action_description" 
                        id="call2actionDescriptionInput"
                        rows="1"
                        class="form-control  {{if ne (len (index .Form.Errors "call2action_description")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="Call2actionDescription"
                        >{{$model.Call2actionDescription}}</textarea>
                            
                {{range (index .Form.Errors "call2action_description")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="statusInput">Status</label>
                <select name="status" required
                        id="statusInput" 
                        class="form-control  {{if ne (len (index .Form.Errors "status")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="Статус">

                        {{range $key, $value := $pageStatusConstMap}}
                        <option value="{{$value}}" 
                                {{if eq $value $model.Status}}selected="selected"{{end}}
                                >{{$key}}</option>
                        {{end}}
                        <option value="0"
                                {{if eq 0 $model.Status}}selected="selected"{{end}}
                                >не определено</option>
                </select>
                
                {{range (index .Form.Errors "status")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="layoutInput">Layout</label>
                <select name="layout" 
                        id="layoutInput" 
                        class="form-control  {{if ne (len (index .Form.Errors "layout")) 0 }} is-invalid  {{end}}" 
                        aria-describedby="Layout">

                        {{range $key, $value := $pageLayoutConstMap}}
                        <option value="{{$value}}" 
                                {{if eq $value $model.Layout}}selected="selected"{{end}}
                                >{{$key}}</option>
                        {{end}}
                        <option value="0"
                                {{if eq 0 $model.Layout}}selected="selected"{{end}}
                                >не определено</option>
                </select>
                
                {{range (index .Form.Errors "layout")}}
                <label class="text-danger"> {{.}}</label>
                {{end}}
            </div>
        </div>
    </div>


    <div class="mt-2 text-end">
        <a href="/admin/article/{{.Model.ID}}" class="btn btn-primary">Закрыть</a>
        <button type="submit" class="btn btn-danger">Сохранить</button>
    </div>
   
    </form>




{{end}}
{{define "admin_article_form_js"}}
<script>


    // let form = document.getElementById('adminPageForm');
    // form.addEventListener('submit', function(e) {
    //     e.preventDefault(); 
        
    //     // if (!form.checkValidity()) {
    //     //     event.stopPropagation()            
    //     //     console.log('>>>> форма невалидна !form.checkValidity()) имеет смысл при <form class="requires-validation",  ')
    //     //     return 
    //     // }
    //     let formData = new FormData()
    //     formData.append("_csrf", "{{.CSRFToken}}")
    //     formData.append("type", e.target['type'].value)
    //     formData.append("article_id", e.target['article_id'].value)
    //     formData.append("hrurl", e.target['hrurl'].value)
    //     formData.append("title", e.target['title'].value)
    //     formData.append("description", e.target['description'].value)
    //     formData.append("keywords", e.target['keywords'].value)
    //     formData.append("h1", e.target['h1'].value)
    //     formData.append("page_description", e.target['page_description'].value)
    //     formData.append("text", e.target['text'].value)
    //     formData.append("status", e.target['status'].value)

    //     fetch("{{.Form.URL}}",{
    //         method: "post",
    //         body: formData,
    //         })
    //         .then(response => response.json())
    //         .then(data => {
    //             if(data.error) {
    //                 (new ToastError(data.error)).show()
    //             }
    //             if(data.success) {
    //                 (new ToastInfo('Успешно')).show()
    //             }
    //             if(data.info) {
    //                 (new ToastInfo(data.info)).show()
    //             }

    //             if(data.reload){
    //                 window.location.href = location.href
    //             }

    //             if(data.redirect){
    //                 window.location.href = data.redirect
    //             }
    //     });    
    // });

</script>
{{end}}