{{$articleLayoutConstMap := .ArticleLayoutConstMap}}


{{if eq .Page.Layout (index $articleLayoutConstMap "ArticleLayoutPage")}}
    {{template "page" .}}
{{else if eq .Page.Layout (index $articleLayoutConstMap "ArticleLayoutHome")}}
    {{template "home" .}}
{{else if eq .Page.Layout (index $articleLayoutConstMap "ArticleLayoutArticle")}}
    {{template "article" .}}    
{{else}}
    {{template "base" .}}
{{end}}



{{define "content"}}


 <h1>{{ .Page.H1 }}</h1> 
 


{{end}}

