{{template "admin" .}}



{{define "content"}}

<div class="container-fluid my-2">
  <div class="col-12">

    <div class="breadCrumbs ">
        <a href="/admin/articles">Articles</a> > 
        Create Article
    </div>
  {{template "admin_article_form" .}}

  </div>
</div>

{{end}}


{{define "page_js"}}
  {{block "admin_article_form_js" .}}{{end}}
{{end}}