{{template "admin" .}}


{{define "content"}}

{{$model := .Model }}
{{$articleTypeConstMap := .ArticleTypeConstMap}}
{{$articleStatusConstMap := .ArticleStatusConstMap}}
{{$articleLayoutConstMap := .ArticleLayoutConstMap}}

<div class="container-fluid my-2">
    <div class="col-12">
        <h1 >Страница #{{$model.ID}} {{$model.Hrurl}} {{$model.Title}}
            <span class="text-secondary">/
                {{if not $model.Type}} тип не определен
                {{else if eq $model.Type 0}} тип не назначен
                {{else if eq $model.Type (index $articleTypeConstMap "ArticleTypePage")}} Page
                {{else if eq $model.Type (index $articleTypeConstMap "ArticleTypeArticle")}} Article
                {{else if eq $model.Type (index $articleTypeConstMap "ArticleTypeNews")}} News
                {{else}} Значение типа вне списка
                {{end}}/ 
            </span>
            <sup class="text-danger">
                {{if not $model.Status}} статус не определен
                {{else if eq $model.Status 0}} статус не назначен
                {{else if eq $model.Status (index $articleStatusConstMap "ArticleStatusDraft")}} В разработке
                {{else if eq $model.Status (index $articleStatusConstMap "ArticleStatusPublished")}} Active
           
                {{else}}  Значение статуса вне списка
                {{end}} 
            </sup>
        </h1>
        <div class="breadCrumbs ">
            <a href="/admin/articles">Articles</a> > #{{$model.ID}} {{$model.Hrurl}} 
        </div>

        <div class="mb-3">
            <a class="btn btn-primary" href="/admin/article/{{$model.ID}}/edit">Редактировать</a>
            <a class="btn btn-default" id="deleteBtn">Удалить</a>

        </div>
       

       
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Параметр</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
              
                <tr>
                    <td>ID</td>
                    <td>{{$model.ID}}</td>
                </tr>
                <tr>
                    <td>Hrurl</td>
                    <td>{{$model.Hrurl}}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        {{if not $model.Status}} не определено
                        {{else if eq $model.Status 0}} не назначено
                        {{else if eq $model.Status (index $articleStatusConstMap "ArticleStatusDraft")}} Черновик
                        {{else if eq $model.Status (index $articleStatusConstMap "ArticleStatusPublished")}} Опубликовано
                        {{else}}  Значение вне списка
                        {{end}} 
                        <sup>({{$model.Status}})</sup>
                    </td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>
                        {{if not $model.Type}} не определено
                        {{else if eq $model.Type 0}} не назначено
                        {{else if eq $model.Type (index $articleTypeConstMap "ArticleTypePage")}} Page
                        {{else if eq $model.Type (index $articleTypeConstMap "ArticleTypeArticle")}} Article
                        {{else if eq $model.Type (index $articleTypeConstMap "ArticleTypeNews")}} News
                        {{else}} Значение вне списка
                        {{end}} 
                        <sup>({{$model.Type}})</sup>
                    </td>
                </tr>

                <tr>
                    <td>Title</td>
                    <td>{{$model.Title}}</td>
                </tr>
             
                <tr>
                    <td>Description</td>
                    <td>{{$model.Description}}</td>
                </tr>

                <tr>
                    <td>Keywords</td>
                    <td>{{$model.Keywords}}</td>
                </tr>
                <tr>
                    <td>H1</td>
                    <td>{{$model.H1}}</td>
                </tr>
                <tr>
                    <td>PageDescription</td>
                    <td>{{$model.PageDescription}}</td>
                </tr>
                <tr>
                    <td>Text</td>
                    <td class="nl2br"> {{$model.Text}}</td>
                </tr>
                <tr>
                    <td>Excerpt</td>
                    <td class="nl2br"> {{$model.Excerpt}}</td>
                </tr>
                <tr>
                    <td>Image</td>
                    <td class="nl2br"> {{$model.Image}}</td>
                </tr>
                <tr>
                    <td>ImageAlt</td>
                    <td class="nl2br"> {{$model.ImageAlt}}</td>
                </tr>
                <tr>
                    <td>ImageTitle</td>
                    <td class="nl2br"> {{$model.ImageTitle}}</td>
                </tr>

                <tr>
                    <td>ThumbnailImage</td>
                    <td class="nl2br"> {{$model.ThumbnailImage}}</td>
                </tr>
                <tr>
                    <td>ThumbnailImageAlt</td>
                    <td class="nl2br"> {{$model.ThumbnailImageAlt}}</td>
                </tr>
                <tr>
                    <td>Call2actionName</td>
                    <td class="nl2br"> {{$model.Call2actionName}}</td>
                </tr>
                <tr>
                    <td>Call2actionLink</td>
                    <td class="nl2br"> {{$model.Call2actionLink}}</td>
                </tr>
                <tr>
                    <td>Call2actionClass</td>
                    <td class="nl2br"> {{$model.Call2actionClass}}</td>
                </tr>
                <tr>
                    <td>Call2actionComment</td>
                    <td class="nl2br"> {{$model.Call2actionComment}}</td>
                </tr>
                <tr>
                    <td>Call2actionDescription</td>
                    <td class="nl2br"> {{$model.Call2actionDescription}}</td>
                </tr>

                <tr>
                    <td>Layout</td>
                    <td class="nl2br"> 
                        {{if not $model.Layout}} не определено
                        {{else if eq $model.Layout 0}} не назначено
                        {{else if eq $model.Layout (index $articleLayoutConstMap "ArticleLayoutHome")}} Home
                        {{else if eq $model.Layout (index $articleLayoutConstMap "ArticleLayoutPage")}} Page
                        {{else if eq $model.Layout (index $articleLayoutConstMap "ArticleLayoutArticle")}} Article
                        {{else}} Значение вне списка
                        {{end}} 
                        <sup>({{$model.Layout}})</sup>
                    </td>
                </tr>
    
                <tr>
                    <td>CreatedAt</td>
                    <td>{{$model.CreatedAt.Format "15:04 02/01/2006"}}</td>
                </tr>
                <tr>
                    <td>UpdatedAt</td>
                    <td>{{$model.UpdatedAt.Format "15:04 02/01/2006"}}</td>
                </tr>
                <tr>
                    <td>DeletedAt</td>
                    <td>
                        {{if not $model.DeletedAt}} нет
                        {{else}} {{$model.DeletedAt}}
                        {{end}} 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>


<h5 class="text-secondary">Image upload</h5>
<form action="/admin/article/{{.Model.ID}}/upload-image" 
        enctype="multipart/form-data"
        method="POST" 
        novalidate>
    <input type="hidden" name="_csrf" value="{{.CSRFToken}}">

    <select name="to_model_property" required style="width: 250px;"
        id="toModelPropertySelect" 
        type="text" 
        class="form-control" 
        aria-describedby="Property"
        >
        <option value="image" selected >image</option>
        <option value="thumbnail_image">thumbnail image</option>
    </select>

    <div class="form-group">    
    <input type="file" name="file" class="form-control-file" id="uploadImageInput">
    </div>

    <button type="submit">Upload Image </button>
</form> 


{{end}}


{{define "page_js"}}
    <script>

        let deleteBtn = document.getElementById('deleteBtn');
        deleteBtn.addEventListener('click', function(e) {
            e.preventDefault();            
            (new Modal(
                'Внимание',          // title
                'Удалить страницу #{{.Model.ID}} {{.Model.Hrurl}} {{.Model.Title}}?', // text
                null,            // noBtnName
                'Удалить',                 // yesBtnName
                ()=>{window.location = '/admin/article/{{.Model.ID}}/delete'},  // yesBtnFunction
                )).show()
              
        });
    
    </script>
{{end}}


