{{template "admin" .}}
{{define "content"}}
 <h1>{{ .Title }}</h1> 
 



{{end}}
{{define "js"}}
<script>

let _err = "{{.Error }}"
if(_err ){
    (new ToastError(_err)).show()
}

let _info = "{{.Info }}"
if(_info){
    (new ToastInfo(_info)).show()
}

</script>
{{end}}